/*
f7d663 geel
6784a6 blauw
4b3f3f bruingrijs
fdd2a8 huidskleur licht
947062 huidskleur donker
393a35 knoop
4f5054 oog donker
10100f knoop donker
 */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fdd2a8;
  font-family: Arial;
  font-weight: 100;
}
a {
  color: #fdd2a8;
  text-decoration: none;
}
h1, h2 {
  margin: 0;
  text-align: center;
  font-weight: 100;
}
h1 {
  font-size: 3.2em;
  font-family: 'Caveat', cursive;
  line-height: 1em;
  color: #6784a6;
  padding: 0.2em 0.4em;
}
h2 {
  font-size: 1.4em;
  font-family: 'Poiret One', cursive;
  line-height: 1.4em;
  color: #f7d663;
  padding: 2em 0 1em;
}
body {
  font-size: 100%;
  background: url(/assets/img/IMG_2649.JPG) center right no-repeat;
  background-size: cover;
  background-attachment: fixed;
  line-height: 2em;
  text-align: center;
}
p {
  margin-bottom: 20px
}
section {
  margin: 40px;
}
img {
  max-width: 100%;
}
.overlay {
  min-height: 100%;
  width: 360px;
  background: #4b3f3f;
  opacity: 0.96;
  padding-bottom: 20px
}
@media (max-width: 600px) {
  .overlay {
    width: 100%;
    opacity: 0.9
  }
}
